.h {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background 300ms linear;
  backdrop-filter: blur(15px);
  background: transparentize($black, 0.7);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__switcher {

    &__group {
      display: flex;
      gap: 15px
    }
  }

  &__nav {
    display: flex;
    gap: 15px;

    .active {
      color: $wild-strawberry;
    }
  }
}
