.course-details {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__title {
    text-align: center;
    margin-top: 20px;
  }

  &__img,
  &__desc {
    max-width: 700px;
    margin: 0 auto;
  }
}
